@font-face {
    font-family: Blacktohrn;
    src: url(./fonts/Blackthorn-axq6a.ttf) format("truetype");
}

body {
    background-image: url("chaoswallpaper.png");
    cursor: url("chaoswallpaper.png"), auto;
}

.chaos-font {
    font-family: Blacktohrn;
    font-size: 10rem;
    letter-spacing: 30px; 
    font-weight: 3;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #ff0000;
}

.gif {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
}

